<ng-container *ngIf="show">
  <div class="fixed bottom-4 right-60 z-50 w-full max-w-md -translate-x-12">
    <ng-container *ngIf="!selectedConversation; else chatView">
      <app-conversations
        (selectConversation)="onSelectConversation($event)"
        (close)="close()"
      ></app-conversations>
    </ng-container>
    <ng-template #chatView>
      <app-chat
        [conversation]="selectedConversation"
        (back)="onBackToConversations()"
        (close)="close()"
      ></app-chat>
    </ng-template>
  </div>
</ng-container>
<button
  *ngIf="!show"
  (click)="open()"
  class="black fixed bottom-4 right-60 z-50 -translate-x-12 rounded-lg bg-[#EB6228] px-10 py-2 text-xl font-bold shadow-lg transition focus:outline-none"
>
  Chat
</button>
